{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="row mt-5 text-center m-0 p-0">
		<div class="col-4 text-center">
			<h1>Contacts</h1>
		</div>
		<div class="col-7 " >
		</div>
	</div>
	<hr>

	<div class="row mt-2">
		<div class="col pt-1 pb-4">
			<div class="container">
				<!-- {#for users in user_groups#} -->
					<div class="row text-center justify-content-center">
					{%for user in contacts%}
					<!-- users -->
						<div class="row border rounded-3 mx-2 mt-3" style="width:650px; box-shadow: 2px 6px 6px #bdbdbd; background-color: rgb(220, 237, 255);">
							<img src="{% static 'images/fake-pic-woman-running.png' %}" class=" rounded-circle ms-2 py-2 my-1 border " style="width:150px; height: 150px;background-color:rgb(171, 189, 255);" alt="...">
							<div class=" mx-auto  my-3 border rounded-3" style="background-color:white;width: 50%;">
								<div class=" p-0">
									<!-- <h5 class="">{{user.username}}</h5> -->
									<h5 class="">{{user.username}} ( {{user.first_name}} {{user.last_name}} )</h5>
								</div>
								<hr class="p-0 m-0">
								<ul class="p-0">
									
									<!-- <li class=""></li> -->
									<li class=""><span class="pe-2" style="float:left;">Email</span><span style="float:right;">{{user.email}}</span></li>
								</ul>
							</div>
						</div>
					{%endfor%}
					</div>
				<!-- {#endfor#} -->
			</div>
		</div>
	</div>    
</div>

{% endblock content %}