{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="row mt-5 text-center m-0 p-0">
		<div class="col-4 text-center">
			<h1>Contacts</h1>
		</div>
		<div class="col-7 " >
		</div>
	</div>
	<hr>

	<div class="row mt-2">
		<div class="col pt-1 pb-4">
			<div class="container">
				<!-- {#for users in user_groups#} -->
					<div class="row text-center justify-content-center">
					{%for user in contacts%}
					<!-- users -->
						<div class="col-3 border rounded-3 mx-2 mt-3" style="box-shadow: 2px 6px 6px #bdbdbd;">
							<img src="{% static 'images/fake-pic-woman-running.png' %}" class="d-flex justify-content-center rounded-circle mx-auto mt-3" style="width:170px; height: 170px;" alt="...">
							<div class=" mx-auto  my-3" style="width: 12rem;">
								<div class=" p-0">
									<h5 class="">{{user.username}}</h5>
								</div>
								<ul class="">
								<li class="text-center">{{user.first_name}}</li>
								<li class="">{{user.last_name}}</li>
								<li class="">{{user.email}}</li>
								</ul>
							</div>
						</div>
					{%endfor%}
					</div>
				<!-- {#endfor#} -->
			</div>
		</div>
	</div>    
</div>

{% endblock content %}