{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %} 

<!-- <form method="POST">
    <input type="text" name="oldemail" placeholder="Old Email"><br>
    <input type="text" name="newpemail" placeholder="New Email"><br>
    <input type="submit" value="Login">
</form> -->


{% block styles %}
    <link href="{% static 'css/register-style.css' %}" rel="stylesheet"/>
{% endblock styles%}

{% block content %}
<div class="sidenav">
    <div class="login-main-text">
        <img src="{% static 'images/visn-logo.png' %}" id="button-size">
       <h2>Visn<br> Reset Email Page</h2>
    </div>
 </div>
<div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
           <form method="POST">
                {% csrf_token %}
                <div class="text-box">
                    <input type="oldemail" name="oldemail" class="form-control"  id="roundcorners" required autocomplete="off" >
                    <label for="Old Email" class="label-name">
                        <span class="content-name">Old Email</span>
                    </label>
                </div>
                <div class="text-box">
                    <input type="newemail" name="newemail" class="form-control"  id="roundcorners" required autocomplete="off" >
                    <label for="New Email" class="label-name">
                        <span class="content-name">New Email</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-blue" value="Change">Change</button>
            </form>
            {% for message in messages %}
                <p id="messages">{{message}}</p>
            {% endfor %}
       </div>
    </div>
 </div>
{{form.errors}}
{% endblock content %}