{% extends 'accounts/base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/register-style.css' %}" rel="stylesheet"/>
{% endblock styles%}
{% block content %}
<div class="sidenav">
    <div class="login-main-text">
        <img src="{% static 'images/visn-logo.png' %}" id="button-size">
       <h2>Visn<br> Register Page</h2>
       <p>Register here to access.</p>
    </div>
 </div>
 <div class="main">
     
    <div class="col-md-12 col-sm-12">
       <div class="login-form">
          <form method="POST" action="" autocomplete="off">
            {% csrf_token %}
            <!-- {{form}} -->
            <div class="text-box">
                <!-- <input type="user_name" name="name" class="form-control"  id="roundcorners" required autocomplete="off" > -->
                
                {{form.username}}
                <label for="user_name" class="label-name">
                    <span class="content-name">{{form.username.label}}</span>
                </label>
             </div>
            <div class="text-box">
                <!-- <input type="bob" class="form-control" id="roundcorners" required autocomplete="off" value="{{bob}}"> -->
                {{form.email}}
                <label for="user_name" class="label-name">
                    <span class="content-name">Email</span>
                </label>
             </div>
             <div class="text-box">
                <!-- <input type="first_name" class="form-control" id="roundcorners" required autocomplete="off" value="{{first_name}}"> -->
                {{form.first_name}}
                <label for="user_name" class="label-name">
                    <span class="content-name">First Name</span>
                </label>
             </div>
             <div class="text-box">
                <!-- <input type="last_name" class="form-control" id="roundcorners" required autocomplete="off" value="{{last_name}}"> -->
                {{form.last_name}}
                <label for="user_name" class="label-name">
                    <span class="content-name">Last Name</span>
                </label>
             </div>
             <div class="text-box">
                <input type="password" class="form-control" id="roundcorners" name="password1" required id="id_password1" required autocomplete="off">
                <!-- {{form.password1}} -->
                <label for="user_name" class="label-name">
                    <span class="content-name">{{form.password1.label}}</span>
                </label>
             </div>
		<ul>
		<li>Your password can't be too similar to your other personal information</li>
		<li>Your password must be at least 8 characters</li>
		<li>Your password cannot be a commonly used password</li>
		<li>Your password cannot be entirely numaric</li>
		</ul>
             <div class="text-box">
                <!-- <input type="password" class="form-control" id="roundcorners" required autocomplete="off"> -->
                <input type="password" class="form-control" id="roundcorners" name="password2" required id="id_password2" required autocomplete="off">
                <!-- {{form.password2}} -->
                <label for="user_name" class="label-name">
                    <span class="content-name">Confirm Password</span>
                </label>
             </div>
             <button type="submit" class="btn btn-blue" name="Create User">Register</button>
             <div class="d-flex justify-content-between align-items-center"></div>
          </form>
       </div>
    </div>
 </div>

    <!-- <p>Register here</p>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}}
        <br>
        {{form.first_name.label}}
        {{form.first_name}}
        <br>
        {{form.last_name.label}}
        {{form.last_name}}
        <br>
        {{form.email.label}}
        {{form.email}}
        <br>
        {{form.password1.label}}
        {{form.password1}}
        <br>
        {{form.password2.label}}
        {{form.password2}}
        <br>
        <input type="submit" name="Create User">
    </form> -->

    {{form.errors}}
{% endblock content %}