{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block content %}
<div class="container">
    <div class="row mt-5 text-center m-0 p-0">
        <div class="col-4 text-center">
            <h1>New Project</h1>
        </div>
        <div class="col-7 " >
        </div>
    </div>
    <hr>
    <form method="POST">
        <!-- Cross Site Request Forgery: https://docs.djangoproject.com/en/3.2/ref/csrf/ -->
        {% csrf_token %}
        <!-- <div class="container">
            <div class="text-box">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <div class="text-box">
                {{ form.deadline.label }}
                {{ form.deadline }}
            </div>
            <div class="text-box">
                {{ form.tasks.label }}
                {{ form.tasks }}
            </div>
            <div class="">
                {{ form.members.label }}
                {{ form.members }}
            </div>
            <button type="submit" class="btn btn-primary">Create Project</button>
        </div> -->
        <div class="container p-2 mb-5 w-75">
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" style="float:right;">Create Project</button>
        </div>
        
    </form>
</div>
{% endblock content %}